service: justfuckinguse
image: justfuckinguse.com

servers:
  - justfuckinguse.example.com

proxy:
  ssl: true
  host: justfuckinguse.example.com

env:
  secret:
    - GIT_URL

registry:
  server: localhost:5555

builder:
  arch: amd64
